<div class="about">
	<TEXT= "white">
	<h1>FAQS</h1>
		<p>If you are an undergraduate in the UCLA College, we encourage you to consult these pages to educate yourself about the rules affecting your academic career and to explore the many resources available to you here at UCLA. Please remember, however, that each student's situation is unique, and that you should use this site as a supplement to, rather than a substitute for, meeting with your UCLA College academic advisor.</p>

		<p>Click <a href="http://www.ugeducation.ucla.edu/counseling/faqs.html"> here </a> for answers to FAQs.</p>
</div>
