<div class="jumbotron center">
		<div class="getappointment center">
			<div> <h1>Can I Make An Appointment Today?</h1>

		<div class="button">
		<p>
		<%= link_to "Click Here To Find Out", button_path, class: "btn btn-primary btn-lg" %>
		</p>
		</div>
		</div>
	</div>
</div>
